.container.col-md-4.col-md-offset-5#link-container
	%h2.text-info.text-uppercase Search result
	- @friends.each do |user|
		.row
			= link_to icon_avatar_select(user), profile_path(user.user_name)
			= link_to user.user_name, profile_path(user.user_name), {class: "h2"}
